* text=auto !eol
common/main/bs.xml svneol=native#text/xml
common/main/da.xml svneol=native#text/xml
common/main/da_DK.xml svneol=native#text/xml
common/main/de.xml svneol=native#text/xml
common/main/dz.xml svneol=native#text/xml
common/main/el.xml svneol=native#text/xml
common/main/fur.xml svneol=native#text/xml
common/main/ka.xml svneol=native#text/xml
common/main/kam.xml svneol=native#text/xml
common/main/ko.xml svneol=native#text/xml
common/main/ko_KR.xml svneol=native#text/xml
common/main/ln.xml svneol=native#text/xml
common/main/nl_BE.xml svneol=native#text/xml
common/main/pa_Arab.xml svneol=native#text/xml
common/main/pt.xml svneol=native#text/xml
common/main/pt_PT.xml svneol=native#text/xml
common/main/se_NO.xml svneol=native#text/xml
common/main/sv_SE.xml svneol=native#text/xml
common/main/uk.xml svneol=native#text/xml
common/main/zh_Hans_SG.xml svneol=native#text/xml
common/main/zh_Hant.xml svneol=native#text/xml
common/main/zh_Hant_HK.xml svneol=native#text/xml
common/main/zh_Hant_MO.xml svneol=native#text/xml
common/main/zh_Hant_TW.xml svneol=native#text/xml
common/main/zu.xml svneol=native#text/xml
