* text=auto !eol
common/main/dz.xml svneol=native#text/xml
common/main/dz_BT.xml svneol=native#text/xml
common/main/fa.xml svneol=native#text/xml
common/main/km.xml svneol=native#text/xml
common/main/ne.xml svneol=native#text/xml
common/main/root.xml svneol=native#text/xml
common/main/tn.xml svneol=native#text/xml
