* text=auto !eol
common/main/ak.xml svneol=native#text/xml
common/main/cch.xml svneol=native#text/xml
common/main/ee.xml svneol=native#text/xml
common/main/en_US.xml svneol=native#text/xml
common/main/es_US.xml svneol=native#text/xml
common/main/gaa.xml svneol=native#text/xml
common/main/ha.xml svneol=native#text/xml
common/main/ha_Arab.xml svneol=native#text/xml
common/main/haw_US.xml svneol=native#text/xml
common/main/ia.xml svneol=native#text/xml
common/main/ig.xml svneol=native#text/xml
common/main/kaj.xml svneol=native#text/xml
common/main/kam.xml svneol=native#text/xml
common/main/kcg.xml svneol=native#text/xml
common/main/kfo.xml svneol=native#text/xml
common/main/ln.xml svneol=native#text/xml
common/main/ne.xml svneol=native#text/xml
common/main/nr.xml svneol=native#text/xml
common/main/nso.xml svneol=native#text/xml
common/main/ny.xml svneol=native#text/xml
common/main/root.xml svneol=native#text/xml
common/main/rw.xml svneol=native#text/xml
common/main/ss.xml svneol=native#text/xml
common/main/st.xml svneol=native#text/xml
common/main/tg.xml svneol=native#text/xml
common/main/tn.xml svneol=native#text/xml
common/main/ts.xml svneol=native#text/xml
common/main/ve.xml svneol=native#text/xml
common/main/xh.xml svneol=native#text/xml
common/main/yo.xml svneol=native#text/xml
common/main/zu.xml svneol=native#text/xml
